/* FONTS */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Manrope', sans-serif; */

/* Navbar Section */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .navbar-brand-container {
  width: 30%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbar-brand-container a {
  font-size: 14px;
  padding: 12px 0;
  font-weight: 700;
}

.navbar .navbar-brand-container .adobe-logo {
  font-size: 26px;
  color: red;
  cursor: pointer;
  padding: 0 10px;
}

.navbar .container-navbar-collapse .navbar-nav {
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar .container-navbar-collapse ul li .nav-link {
  color: #363636;
}

.navbar .container-navbar-collapse a {
  color: #363636;
  font-weight: 600;
}

.navbar .container-search-nav {
  width: 15%;
}

.navbar .container-search-nav span {
  transform: rotate(90deg);
}

.navbar .container-search-nav a {
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  padding-left: 40px;
  font-weight: 400;
}

.navbar .container-search-nav span:hover {
  color: #1473e6;
}

.navbar .container-search-nav a:hover {
  color: #1473e6;
}

@media (max-width: 1450px) {
  .navbar {
    justify-content: space-around;
  }
  .navbar .container-navbar-collapse {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .navbar .container-search-nav {
    width: auto;
  }
}

@media (max-width: 1300px) {
  .navbar .navbar-brand-container {
    width: 15%;
    justify-content: flex-start;
  }
}

@media (max-width: 1200px) {
  .navbar button {
    margin-left: -30px;
    order: 1;
  }
  .navbar .navbar-brand-container {
    width: 85%;
    justify-content: center;
    order: 2;
  }
  .navbar .container-search-nav {
    order: 3;
  }
  .navbar .navbar-brand-container .navbar-brand {
    display: none;
  }
  .navbar .container-search-nav span {
    display: none;
  }
}

@media (max-width: 900px) {
  .navbar .navbar-brand-container {
    width: 70%;
    justify-content: center;
  }
}
/* End of Navbar Section */

/* Cover Section */
.container-cover-section .background-cover {
  width: 100%;
  height: 125vh;
  background-image: url(../Images/background-content.jpg);
  background-size: cover;
  background-position: 1% 1%;
}

.container-cover-section .container-honorHeroes {
  width: 90%;
  height: 37%;
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.container-cover-section .container-honorHeroes .content-honorHeroes {
  width: 40%;
  margin-bottom: 90px;
  padding: 0 50px;
}

.container-cover-section .container-honorHeroes .content-honorHeroes h3 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}

.container-cover-section .container-honorHeroes .content-honorHeroes button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #1473e6;
  border: 2px solid #1473e6;
  border-radius: 18px;
  padding: 3px 15px;
  margin-top: 10px;
}

.container-cover-section
  .container-honorHeroes
  .content-honorHeroes
  button:hover {
  background-color: #0f5cba;
  border-color: #0f5cba;
}

.container-cover-section .container-creationHeroes {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.container-cover-section .container-creationHeroes p {
  color: #fff;
  line-height: 0.4rem;
}

.container-cover-section .container-creationHeroes p:first-child {
  font-size: 19px;
  font-weight: 600;
}

.container-cover-section .container-creationHeroes p:last-child {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.container-cover-section .container-dataSection {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-cover-section .container-dataSection .item-dataSection {
  width: 31.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin: 30px 0;
}

.container-cover-section .container-dataSection .item-dataSection:first-child {
  margin-left: 20px;
}

.container-cover-section .container-dataSection .item-dataSection:last-child {
  margin-right: 20px;
}

.container-cover-section .container-dataSection .item-dataSection .item-title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  align-self: flex-start;
}

.container-cover-section
  .container-dataSection
  .item-dataSection
  .item-subtitle {
  font-size: 30px;
  font-weight: 200;
  font-family: 'Manrope', sans-serif;
}

.container-cover-section .container-dataSection .item-dataSection .item-text {
  text-align: center;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.container-cover-section .container-dataSection .item-dataSection .item-button {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.5px;
  font-family: 'Roboto', sans-serif;
  color: #505050;
  border: 2px solid #505050;
  border-radius: 18px;
  background-color: #fff;
  padding: 2px 10px;
  margin-top: 10px;
}

.container-cover-section
  .container-dataSection
  .item-dataSection
  .item-button:hover {
  color: #fff;
  background-color: #505050;
}

.container-cover-section .container-dataSection-responsive {
  display: none;
}

.container-cover-section .container-dataSection-responsive {
  width: 82%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-cover-section .container-dataSection-responsive .item-dataSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin: 30px 0;
}

.container-cover-section
  .container-dataSection-responsive
  .item-dataSection
  .item-title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  align-self: flex-start;
}

.container-cover-section
  .container-dataSection-responsive
  .item-dataSection
  div
  img {
  width: 100%;
}

.container-cover-section
  .container-dataSection-responsive
  .item-dataSection
  div {
  width: 100%;
}

.container-cover-section
  .container-dataSection-responsive
  .item-dataSection
  .item-subtitle {
  font-size: 30px;
  font-weight: 200;
  font-family: 'Manrope', sans-serif;
}

.container-cover-section
  .container-dataSection-responsive
  .item-dataSection
  .item-text {
  text-align: center;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.container-cover-section
  .container-dataSection-responsive
  .item-dataSection
  .item-button {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.5px;
  font-family: 'Roboto', sans-serif;
  color: #505050;
  border: 2px solid #505050;
  border-radius: 18px;
  background-color: #fff;
  padding: 2px 10px;
  margin-top: 10px;
}

.container-cover-section
  .container-dataSection-responsive
  .item-dataSection
  .item-button:hover {
  color: #000;
  background-color: #505050;
}

.container-cover-section .container-honorHeroes-responsive {
  width: 100%;
  height: 37%;
  color: #000;
  margin: 0 auto;
  display: none;
}

.container-cover-section
  .container-honorHeroes-responsive
  .content-honorHeroes {
  width: 100%;
  text-align: center;
}

.container-cover-section
  .container-honorHeroes-responsive
  .content-honorHeroes
  h3 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}

.container-cover-section
  .container-honorHeroes-responsive
  .content-honorHeroes
  button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #1473e6;
  border: 2px solid #1473e6;
  border-radius: 18px;
  padding: 3px 15px;
  margin-top: 10px;
}

.container-cover-section
  .container-honorHeroes-responsive
  .content-honorHeroes
  button:hover {
  background-color: #0f5cba;
  border-color: #0f5cba;
}

.container-cover-section .background-cover-responsive {
  display: none;
}

@media (max-width: 1199.98px) {
  .container-cover-section .background-cover {
    background-size: cover;
    background-position: left 220px top 1%;
    height: 630px;
  }
  .container-cover-section .container-honorHeroes {
    height: 100%;
  }
  .container-cover-section .container-honorHeroes h3 {
    padding-top: 175px;
  }
  .container-cover-section .container-honorHeroes .content-honorHeroes {
    width: 100%;
    height: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-cover-section .container-dataSection-responsive {
    display: flex;
  }
  .container-cover-section .container-honorHeroes .content-honorHeroes button {
    margin: 5px 0 10px 0;
  }
  .container-cover-section .container-creationHeroes {
    display: none;
  }
  .container-cover-section .container-dataSection {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container-cover-section .container-dataSection-responsive {
    display: none;
  }
}

@media (max-width: 930px) {
  .container-cover-section .container-honorHeroes .content-honorHeroes {
    height: 30%;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .container-cover-section .background-cover {
    display: none;
  }
  .container-cover-section .container-honorHeroes-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-cover-section .background-cover-responsive {
    display: block;
  }
  .container-cover-section .container-dataSection-responsive {
    width: 100%;
  }
  .container-cover-section
    .container-dataSection-responsive
    .item-dataSection
    .item-title {
    display: none;
  }
}
/* End of Cover Section */

/* Footer Section */
.footer-container-responsive {
  height: 550px;
  color: #a8a8a8;
  background-color: #000;
  display: none;
}

.footer-container-responsive .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.footer-container-responsive .nav .nav-item {
  width: 95%;
  border-top: 1px solid #7a7473;
  padding: 10px 0;
}

.footer-container-responsive .nav .nav-item .nav-link {
  color: #fff;
}

.footer-container-responsive .container-adobe-options {
  height: 50px;
  margin-top: 50px;
}

.footer-container-responsive .container-adobe-options img {
  width: 25px;
  height: 25px;
}

.footer-container-responsive .container-adobe-options p {
  font-size: 14px;
  padding: 0 15px;
}

.footer-container-responsive .footer-details {
  width: 95%;
  height: 120px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-container-responsive .footer-details span i {
  font-size: 25px;
  margin: 20px 0;
}

.footer-container-responsive .footer-details p {
  font-size: 14px;
  line-height: 0.5rem;
}

.footer-container {
  height: 600px;
  color: #a8a8a8;
  background-color: #000;
}

.footer-container .general-list {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  padding-top: 50px;
  border-bottom: 1px solid #a8a8a8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-container .general-list .general-list-style {
  width: 22%;
  height: 90%;
  font-size: 14px;
  list-style-type: none;
  border-right: 1px solid #a8a8a8;
}

.footer-container .general-list .general-list-style:last-child {
  border: none;
}

.footer-container .general-list .general-list-style li {
  padding-bottom: 5px;
}

.footer-container .general-list .general-list-style .list-header {
  color: #fff;
  padding-bottom: 15px;
  font-weight: 600;
}

.footer-container .general-list .container-custom {
  width: 35%;
  height: 90%;
  margin-top: -17px;
  border-right: 1px solid #a8a8a8;
}

.footer-container .general-list .container-custom .custom-style-list {
  width: 88%;
  height: 45%;
  padding-left: 0;
  margin-left: 40px;
  align-self: flex-start;
  list-style-type: none;
}

.footer-container
  .general-list
  .container-custom
  .custom-style-list
  .list-header {
  font-weight: 600;
  color: #fff;
}

.footer-container .general-list .container-custom .social-icons-custom {
  width: 88%;
  height: 40%;
  margin-left: 40px;
  padding-top: 15px;
  color: #fff;
}

.footer-container .general-list .container-custom .social-icons-custom i {
  color: #a8a8a8;
}

.footer-container
  .general-list
  .container-custom
  .custom-style-list
  .list-header {
  color: #fff;
  padding-bottom: 15px;
}

.footer-container .general-list .container-custom .custom-style-list li {
  padding-bottom: 5px;
}

.footer-container
  .general-list
  .container-custom
  .custom-style-list
  .custom-lists {
  width: 50%;
  padding-left: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a8a8a8;
  list-style-type: none;
}

.footer-container .container-adobe {
  width: 80%;
  height: auto;
  border-bottom: 1px solid #a8a8a8;
  margin: 0 auto;
}

.footer-container .container-adobe img {
  width: 25px;
  height: 25px;
}

.footer-container .container-adobe p {
  padding: 10px 10px 0 10px;
}

.footer-container .container-details-footer {
  width: 80%;
  height: auto;
  margin: 30px auto 0 auto;
}

.footer-container .container-details-footer span {
  font-size: 14px;
}

.footer-container .container-details-footer span i {
  font-size: 18px;
}

.footer-container .container-details-footer p {
  font-size: 12px;
  line-height: 0;
}

@media (max-width: 1199.98px) {
  .footer-container-responsive {
    display: block;
  }

  .footer-container {
    display: none;
  }
}
/* End of Footer Section */
